body{
    margin: 0;
    padding: 0;
    background-color: #FFF3E0;
    min-height: 100vh;
}

.header-top{
    display: flex;
    justify-content: center;
    padding: 7px;
}
.img-container {
    width: 156px;
    height: 137px;
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
ul{
    list-style: none;
}
/*nav: */
.header-bottom{
    height: 47px;
    background-color: #A31D1D;
    display: flex;
    justify-content: center;
}
.menu-container{
    height: 100%;
    width: 1200px;
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    display: block;
    color: white;
}
.menu{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 1px;
    color: white;
    position: relative;
    width: 100%;
}
.menu h2{
    height: 100%;
    margin: 0 30px;
    padding: 0;
}
.main-items{
    position: relative;
    cursor: pointer;
    height: 100%;
}
.submenu{
    position: absolute;
    /*top: calc(100% + 9px);*/
    /*top: 100%;*/
    left: 0;
    /*display: none;*/
    z-index: -1;
    /*z-index: 100;*/
    min-width: 150px;
    background: brown;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, 
                transform 0.5s ease-in-out, 
                visibility 0.5s;
}
.sub-submenu{
    /*display: none;*/
    /*position: absolute;
    top: calc(100% + 9px);*/
    height: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, 
                transform 0.5s ease-in-out, 
                visibility 0.5s;
}

.main-items:hover .submenu{
    /*display: block;*/
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 9;
}


.Laptops:hover .Laptops-submenu{
    height: auto;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 9;
}
.armadas:hover .armadas-submenu{
    height: auto;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 9;
}
.componentes:hover .componentes-submenu{
    height: auto;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 9;
}
footer{
    margin-top: 30px;
    background-color: #6D2323;
    color: white;
    padding-bottom: 8px;
    width: 100%;
}
footer a{
    text-decoration: none;
    display: block;
    color: white;
}

.footer-top {
    display: flex;
}

.info {
    padding: 8px;
}
.info h3{
    margin: 0;
}
.info-rigth{
    text-align: right;
}
.sepador-footer{
    background-color: rgb(155, 155, 155);
    border: none;
    width: 2px;
}
.footer-bottom{
    display: flex;
    justify-content: center;
}
.footer-bottom h3{
    margin: 0;
}