body{
    text-align: center;
    background-color: rgba(254, 249, 225, 1);
 
    
}
.containerBanner{
    display: flex;
    background-color: rgba(229, 208, 172, 1);
    width: 50%;
    align-items: center;
    padding: 20px   ;
    border-radius: 5px;
    margin: 20px auto;
    margin-top: 50px;
}   
.containerBanner img{
    width: 330px;
    height: 330px;
    border-radius: 5px;    
}
.textoBanner{
    flex: 1;
    padding: 0px 20px;
    text-align: left;
}
.comprar{
    background-color: rgba(109, 35, 35, 1);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.comprar:hover{
    background-color:  #8b3f3a
}